desktop.ini
FB2Kndl/*.exe
GetAlbums/*.json
PlayUrl/
PSSteamIdle/*.dll
ResizeImageRealESRGAN/app/models/
ResizeImageRealESRGAN/app/*.md
ResizeImageRealESRGAN/app/*.exe
ResizeImageRealESRGAN/app/*.dll
